<h1 class="center gray">Login </h1>
<!-- <form action="/login" method="POST">
	Email: <input type="text" name="email">
	Password: <input type="password" placeholder="password" name="password">
	Confirm Password: <input type="password" placeholder="password" name="confirm_password">
	<button type="submit">Login</button>
	
</form> -->
<div class="mx-auto">
	<form action="/login" class="mx-auto sm-col-6" method="POST">
	  <label class="hide">Email</label>
	  <input type="text" class="block full-width mb0 field-light rounded-top y-group-item" placeholder="Email" name="email">
	  <label class="hide">Password</label>
	  <input type="password" class="block full-width mb0 field-light not-rounded y-group-item" placeholder="Password" name="password">
	  <label class="hide">Confirm Password</label>
	  <input type="password" class="block full-width field-light rounded-bottom y-group-item" placeholder="Confirm Password" name="confirm_password">
	  <button type="submit" class="button mt2">Login</button>
	</form>
</div>