<div>

	<form action="/signup" method="POST">
	<input type="email" placeholder="Email Address" name="user[email]">
	<input type="password" placeholder="Password" name="user[password]">
	<input type="password" placeholder="Confirm Password" name="user[password_confirmation]">

	<button type="submit">Create New Account</button> 


	</form>
</div>