// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo{
	height: 40px; 
}

a{
	color: #000000; 
}

a.upvote-btn{
	color: #7A7E82;
}

div#allPosts{
	background-color: #F6F2D5;
}

